<template>
  <section class="section">
    <div>
      <b-field
        v-if="brands.length > 0"
        label="Choose brand"
        label-for="brand"
      >
        <b-select
          v-model="currentBrand"
          id="brand"
          placeholder="Select a brand"
        >
          <option
              v-for="option in brands"
              :value="option.id"
              :key="option.id">
              {{ option.brand }}
          </option>
        </b-select>
      </b-field>
      <b-field
        v-if="countries.length > 0"
        label="Choose country"
        label-for="country"
      >
        <b-select
          v-model="currentCountry"
          id="country"
          placeholder="Select a country"
        >
          <option
              v-for="option in countries"
              :value="option.code"
              :key="option.code">
              {{ option.country }}
          </option>
        </b-select>
      </b-field>
      <div v-if="games.length > 0" class="columns is-mobile is-multiline">
        <div v-for="game in games" :key="game.id" class="column is-4-mobile">
          <Game v-if="gameInBrand(game) && gameNotBlockedForBrand(game) && gameNotBlockedForCountry(game)" :name="game.name" :launchcode="game.launchcode" />
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  onUnmounted,
  ref,
  Ref
} from '@vue/composition-api'
import Game from '~/components/Game'
import BrandsRepository from '~/repositories/brands'
import CountriesRepository from '~/repositories/countries'
import GamesRepository from '~/repositories/games'

export default defineComponent({
  components: {
    Game
  },
  setup(props, context) {
    const BrandsAPI = new BrandsRepository(context.root.$axios)
    const brands: Ref<Array<any>> = ref([])
    const currentBrand: Ref<string> = ref('')
    const CountriesAPI = new CountriesRepository(context.root.$axios)
    const countries: Ref<Array<any>> = ref([])
    const currentCountry: Ref<string> = ref('')
    const GamesAPI = new GamesRepository(context.root.$axios)
    const games: Ref<Array<any>> = ref([])

    const getBrands = () => {
      BrandsAPI.index()
        .then((response: any) => {
          brands.value = response.data
          // choose first brand
          if (brands.value.length > 0) {
            currentBrand.value = brands.value[0].id
          }
        })
        .catch((error: any) => {
          console.error(error)
        })
    }

    const getCountries = () => {
      CountriesAPI.index()
        .then((response: any) => {
          countries.value = response.data
          // choose first country
          if (countries.value.length > 0) {
            currentCountry.value = countries.value[0].code
          }
        })
        .catch((error: any) => {
          console.error(error)
        })
    }

    const getGames = () => {
      GamesAPI.index()
        .then((response: any) => {
          games.value = response.data
        })
        .catch((error: any) => {
          console.error(error)
        })
    }

    const gameInBrand = (game) => {
      if (currentBrand.value == '0') {
        return true
      }
      return game.brand_games.filter(brand_game => brand_game.brandid == currentBrand.value).length > 0
    }

    const gameNotBlockedForBrand = (game) => {
      return game.brand_blocks.filter(brand_block => brand_block.brandid == currentBrand.value).length === 0
    }

    const gameNotBlockedForCountry = (game) => {
      return game.country_blocks.filter(country_blocks => country_blocks.country == currentCountry.value).length === 0
    }

    onMounted(() => {
      getBrands()
      getCountries()
      getGames()
    })

    return {
      currentBrand,
      brands,
      currentCountry,
      countries,
      games,
      gameInBrand,
      gameNotBlockedForBrand,
      gameNotBlockedForCountry
    }
  }
})
</script>
