<template>
  <div @click="showLaunchcode" class="card">
    <header class="card-header">
      <p class="card-header-title has-text-grey">
        {{ name }}
      </p>
    </header>
    <div class="card-content">
      <div class="content has-text-centered">
        <img
          :src="`https://stage.whgstage.com/scontent/images/games/​${launchcode}.jpg`"
          :alt="name"
        />
        https://stage.whgstage.com/scontent/images/games/​{{launchcode}}.jpg
      </div>
    </div>
    <footer class="card-footer">
      <div class="card-footer-item">
        <span>
          <slot />
        </span>
      </div>
    </footer>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  onUnmounted,
  ref,
  Ref
} from '@vue/composition-api'
import Game from '~/components/Game'
import BrandsRepository from '~/repositories/brands'
import CountriesRepository from '~/repositories/countries'
import GamesRepository from '~/repositories/games'

export default defineComponent({
  props: {
    name: {
      type: String,
      required: true
    },
    launchcode: {
      type: String,
      required: true
    }
  },
  setup(props) {
    const showLaunchcode = () => {
      alert(props.launchcode)
    }

    return {
      showLaunchcode
    }
  }
})
</script>
